@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h3>Blazor 本のアプリサンプル</h3>
<ul>
    <li><a href="/Sample01">① 一覧表示</a></li>
    <li><a href="/Sample02">② 列結合、テンプレート描画</a></li>
    <li><a href="/Sample03">③ ソート</a></li>
    <li><a href="/Sample04">④ ページング</a></li>
    <li><a href="/Sample04b">④b ページング（仮想化）</a></li>
    <li><a href="/Sample05">⑤</a></li>
    <li><a href="/Sample06">⑥</a></li>
    <li><a href="/Sample07">⑦</a></li>
    <li><a href="/Sample08">⑧</a></li>
    <li><a href="/Sample09">⑨</a></li>
    <li><a href="/Sample10">⑩</a></li>
    <li><a href="/Sample11">⑪</a></li>
</ul>
